{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1> Info about our company</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo sapien, fringilla ut porta sit amet, pulvinar nec lorem. In sed massa a justo imperdiet mattis ut eu nisi. Ut viverra rhoncus velit, non venenatis dolor rhoncus ac. Sed sapien est, euismod ac euismod ac, pretium scelerisque odio. Cras interdum tempus purus, in commodo justo vehicula ut. In at scelerisque ante, vitae molestie purus. Integer lobortis sodales neque ac congue. Aliquam eros risus, mattis quis quam eget, suscipit porta lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In venenatis iaculis nisl, sit amet congue purus. Vestibulum quis pretium diam. Praesent at nunc vitae tortor placerat lacinia eu quis est. Aenean dignissim nibh in vehicula sagittis. Vestibulum mauris arcu, auctor consectetur malesuada ac, dictum quis urna. 
    </p>
</div>
{% endblock %}
